@import '../../general style/Colors'
@import '../../App'
.CEO
    position: relative
    padding: 150px
    .CEO-container
        // background: red
        z-index: -1
        display: flex
        justify-content: center
        .join-content
            padding: 70px 0
            position: relative
            width: 990px

            .content
                // position: absolute
                background: white
                padding: 40px
                width: 400px
                height: 
                display: flex
                align-items:  flex-end
                flex-direction: column

                h5 
                    margin-top: 15px
                    color: $red 
                    text-transform: uppercase 
                    letter-spacing: 1px
                    font-size: .80rem
                    
                h1 
                    font-size: 2.5rem
                    text-transform: uppercase
                    letter-spacing: .5px
                    text-align: end
                    line-height: 2.9rem
                
                p 
                    margin-top: 30px
                    color: $grey-text
                    font-weight: 300
                    font-family: 'Playfair Display', serif
                    text-align: end
                    line-height: 1.7rem

                img
                    margin-top: 30px
                    height: 80px

                    
            #ceo
                position: absolute
                top: 0
                right: 0
                z-index: -1
                height: 100%

#cube
    position: absolute
    bottom: 5%
    left: 3%
    height: 60px 
    width: 60px
    border: 5px solid $red
    transform: rotate(45deg)