@import url("https://fonts.googleapis.com/css?family=Oswald:200,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.lg-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  outline: none;
}

* a {
  text-decoration: none;
}

.title-1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 2.9rem;
}

.red-paragraph {
  text-transform: uppercase;
  color: #EF3E36;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

.card-title {
  color: #EF3E36;
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-text {
  font-size: 1rem;
  letter-spacing: .5px;
  text-align: center;
  margin-bottom: 30px;
  color: #818187;
  font-family: 'Playfair Display', serif;
}

.card-link a {
  font-size: .9rem;
  text-transform: uppercase;
  color: #b5b5b9;
}

.grey-text {
  margin-top: 30px;
  color: #818187;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  line-height: 1.7rem;
}

.primary-btn {
  border-style: none;
  border-radius: 3px;
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  background: #EF3E36;
  cursor: pointer;
  letter-spacing: .5px;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

.primary-btn:hover {
  background: #c91810;
}

.primary-btn:hover {
  background: #ebebeb;
}

@media (max-width: 600px) {
  .OurWork-grid-bottom {
    padding: 80px 0;
    grid-gap: 30px;
        grid-template-areas: "box-1" "box-2" "box-3" "box-4";
    -ms-grid-columns: repeat 1fr;
        grid-template-columns: repeat 1fr;
  }
}

.CEO {
  position: relative;
  padding: 150px;
}

.CEO .CEO-container {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CEO .CEO-container .join-content {
  padding: 70px 0;
  position: relative;
  width: 990px;
}

.CEO .CEO-container .join-content .content {
  background: white;
  padding: 40px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CEO .CEO-container .join-content .content h5 {
  margin-top: 15px;
  color: #EF3E36;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .80rem;
}

.CEO .CEO-container .join-content .content h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-align: end;
  line-height: 2.9rem;
}

.CEO .CEO-container .join-content .content p {
  margin-top: 30px;
  color: #818187;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  line-height: 1.7rem;
}

.CEO .CEO-container .join-content .content img {
  margin-top: 30px;
  height: 80px;
}

.CEO .CEO-container .join-content #ceo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

#cube {
  position: absolute;
  bottom: 5%;
  left: 3%;
  height: 60px;
  width: 60px;
  border: 5px solid #EF3E36;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 600px) {
  .CEO {
    position: static;
    padding: 70px 0;
  }
  .CEO .CEO-container {
    z-index: -1;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .CEO .CEO-container .join-content {
    padding: 0px 0;
    position: relative;
    width: 100%;
  }
  .CEO .CEO-container .join-content .content {
    background: white;
    padding: 0px;
    width: 100%;
    display: block;
  }
  .CEO .CEO-container .join-content .content h5 {
    margin-top: 15px;
    color: #EF3E36;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .CEO .CEO-container .join-content .content h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.8rem;
  }
  .CEO .CEO-container .join-content .content p {
    margin-top: 20px;
    text-align: justify;
  }
  .CEO .CEO-container .join-content .content img {
    margin-top: 30px;
    height: 55px;
  }
  .CEO .CEO-container .join-content #ceo {
    position: static;
    top: 0;
    right: 0;
    z-index: -1;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  #cube {
    display: none;
  }
}
/*# sourceMappingURL=CEO.css.map */