@import url("https://fonts.googleapis.com/css?family=Oswald:200,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.lg-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  outline: none;
}

* a {
  text-decoration: none;
}

.title-1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 2.9rem;
}

.red-paragraph {
  text-transform: uppercase;
  color: #EF3E36;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

.card-title {
  color: #EF3E36;
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-text {
  font-size: 1rem;
  letter-spacing: .5px;
  text-align: center;
  margin-bottom: 30px;
  color: #818187;
  font-family: 'Playfair Display', serif;
}

.card-link a {
  font-size: .9rem;
  text-transform: uppercase;
  color: #b5b5b9;
}

.grey-text {
  margin-top: 30px;
  color: #818187;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  line-height: 1.7rem;
}

.primary-btn {
  border-style: none;
  border-radius: 3px;
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  background: #EF3E36;
  cursor: pointer;
  letter-spacing: .5px;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

.primary-btn:hover {
  background: #c91810;
}

.primary-btn:hover {
  background: #ebebeb;
}

@media (max-width: 600px) {
  .OurWork-grid-bottom {
    padding: 80px 0;
    grid-gap: 30px;
        grid-template-areas: "box-1" "box-2" "box-3" "box-4";
    -ms-grid-columns: repeat 1fr;
        grid-template-columns: repeat 1fr;
  }
}

.Planning-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  overflow: hidden;
}

.Planning-grid .left-side, .Planning-grid .right-side {
  margin: 50px 0;
}

.Planning-grid .left-side {
  height: auto;
  max-height: 350px;
}

.Planning-grid .left-side img {
  height: auto;
  max-height: 350px;
}

.Planning-grid .right-side {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Planning-grid .right-side h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 3rem;
}

.Planning-grid .right-side p {
  color: #818187;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  line-height: 1.8rem;
}

@media (max-width: 600px) {
  .Planning-grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .Planning .left-side img {
    width: 300px;
  }
  .Planning .left-side, .Planning .right-side {
    margin: 0;
  }
  .Planning .right-side {
    padding: 0px;
  }
  .Planning .right-side h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
  }
  .Planning .right-side p {
    color: #818187;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    line-height: 1.8rem;
  }
}
/*# sourceMappingURL=Planning.css.map */