@import '../../../general style/Colors'
.Navbar
    position: relative
    border-bottom: #cacaca63 solid 1px
    &-container
        height: 80px
        // 27G
        display: flex
        // 27E
        flex-wrap: wrap
        // 27F
        flex-direction: columns
        // 27C
        justify-content: space-between
        // 27D
        align-items: center
        a
            color: black
            &:active
                color: black

        #logo
            letter-spacing: 2px
            text-transform: uppercase
            .line-logo
                // 23D-2
                color: $red
                // 23D-1
                font-weight: bolder

        .lg-menu ul
            display: flex
            align-items: center

            li
                list-style: none
                font-size: 13px
                text-transform: uppercase
                font-weight: 600

                a
                    padding: 25px 12px
                    color: $black

                i
                    margin-left: 5px
                    color: $black

            button
                // 23E
                background-color: $red
                margin-left: 20px
        .menu-icon
            color: $red
            // 23D-3
            font-size: 1.8rem
            display: none
    .sm-menu
        width: 100vw
        overflow: hidden
        height: calc(100vh - 145px)
        min-height: 150px
        background: white
        position: absolute
        top: 61px
        left: 0
        // padding: 10px 30px

        z-index: 9
        display: flex
        flex-direction: column 
        justify-content: center 
        align-items: center
        ul 
            // padding: 40px
            display: flex 
            flex-direction: column 
            justify-content: center 
            align-items: center
        li 
            list-style: none
            text-transform: uppercase 
            font-weight: 700
            margin: 20px 0
            font-size: 1.1rem
            

#active
    color: $red

@media (max-width: 600px)
    .Navbar
        &-container
            height: 60px

            .menu-icon
                display: block
        .lg-menu
            display: none
