@import '../../../general style/Colors'
.Navbar
    border-bottom: #cacaca63 solid 1px
    &-container
        height: 80px
        display: flex
        flex-direction: columns
        justify-content: space-between
        align-items: center

        #logo
            letter-spacing: 2px
            text-transform: uppercase
            .line-logo 
                color: $red
                font-weight: bolder


        nav ul
            display: flex
            align-items: center

            li
                list-style: none
                font-size: 13px
                text-transform: uppercase
                font-weight: 600
                
                a
                    padding: 25px 12px
                    color: $black
                
                i 
                    margin-left: 5px
                    color: $black



            button  
                margin-left: 20px
        .menu-icon
            color: $red
            font-size: 1.8rem
            display: none

#active
    color: $red

@media (max-width: 600px)
    .Navbar
        &-container
            height: 60px

            .menu-icon 
                display: block
        nav
            display: none


