@import './general style/Fonts'
@import './general style/Containers'
@import './general style/Colors'

*
    margin: 0
    padding: 0
    font-family: 'Oswald', sans-serif
    a 
        text-decoration: none

@mixin center($justify-content)
    display: flex
    justify-content: $justify-content
    align-items: center


.primary-btn 
    border-style: none
    border-radius: 3px
    padding: 15px 25px
    text-transform: uppercase
    font-size: 13px
    color: white
    background: $red
    cursor: pointer

