img#picture {
	/* 25F */
	float: left;
	margin-bottom: 90px;
}
.background-image {
	clear: both;
	background-repeat: no-repeat;
	height: 200px;
	background-image: url('http://lorempixel.com/401/200');
}
.arrow {
	/* 25C-3 */
	position: fixed;
	bottom: 10%;
	right: 10%;
	font-size: 3rem;
	color: #ef3e36;
	background: white;
	border-radius: 50%;
	border: solid 2px #ef3e36;
}
.break-word {
	/* 30E */
	word-break: break-all;
	width: 200px;
}
input {
	margin: 30px;
}
/* 26G */
input.focus:focus {
	background: red;
}

/* 26E */
.disabled:disabled {
	background: green;
}

.cube-1 {
	height: 50px;
	width: 50px;
	animation-name: rotateItem;
	background-color: black;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: linear;
	/* 28D */
	transition: all 0.5s;
}
/* 28C */
@keyframes rotateItem {
	from {
        /* 28E */
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
